{% extends 'main.html' %}
{% block title %}Add A Book to {{ currentCollection.name }}{% endblock %}

{% block content %}
    <div class="row"><!-- Start header -->
        <div class="col-sm-12">
            <h3>Add a new book to {{ currentCollection.name }}:</h3>
        </div>
    </div><!-- End header -->

    <div class="row">
        <div class='col-sm-12'>
            <form class='form-horizontal' action="{{ url_for('addBook', collectionID=currentCollection.id) }}"
            method='post' id='newBook'>

                {% from 'jinjaMacros.html' import textField, textareaForm, sub_canButtonGroup %}
                {{ textField('Title:', 'title', '', 'required') }}
                {{ textField('Author:', 'author', '', 'required') }}
                {{ textField('Genre:', 'genre', '') }}
                {{ textField('Image URL:', 'coverImage', '') }}
                {{ textareaForm('description', 'Description of book:', 'newBook') }}
                {{ sub_canButtonGroup('Add', url_for('homePage'), 'Abort') }}

            </form>
        </div>
    </div>
{% endblock %}
