{% extends 'main.html' %}
{% block title %}Create A Collection{% endblock %}

{% block content %}
    <div class="row"><!-- Start header -->
        <div class="col-sm-12">
            <h3>Enter a name for your new collection:</h3>
        </div>
    </div><!-- End header -->

    <div class="row">
        <div class='col-sm-12'>
            <form class='form-horizontal' action="{{ url_for('createCollections') }}"
            method='post' id='newCollection'>

                {% from 'jinjaMacros.html' import textField, textareaForm, sub_canButtonGroup %}
                {{ textField('Name:', 'name', 'New Collection Name', 'required') }}
                {{ textareaForm('description', 'Description of collection:', 'newCollection') }}
                {{ sub_canButtonGroup('Create', url_for('homePage'), 'Abort') }}

            </form>
        </div>
    </div>
{% endblock %}
