{% extends 'main.html' %}
{% block title %}Edit {{ bToEdit.name }}{% endblock %}

{% block content %}
    <div class="row"><!-- Start header -->
        <div class="col-sm-12">
            <h3>Make the edits for {{ bToEdit.name }}:</h3>
        </div>
    </div><!-- End header -->

    <div class="row">
        <div class='col-sm-12'>
            <form class='form-horizontal' action="{{ url_for('editBook', collectionID=currentCollection.id, bookID=bookID) }}"
            method='post' id='editBook'>

                {% from 'jinjaMacros.html' import textField, textareaForm, sub_canButtonGroup %}
                {{ textField('Title:', 'title', bToEdit.title) }}
                {{ textField('Author:', 'author', bToEdit.author) }}
                {{ textField('Genre:', 'genre', bToEdit.genre) }}


                <div class="row"><!-- START text field -->
                    <div class='col-sm-6'>
                        <div class='input-group'>
                            <span class="input-group-addon" id="basic-addon1">Image URL:</span>
                            <input type='text' class="form-control" size='30' name='coverImage'
                                placeholder='{{ bToEdit.coverImage }}' {{ optional }}>
                        </div>
                    </div>
                    <div class='col-sm-2 text-left'>
                        <img src='{{ bToEdit.coverImage }}' height='80em' onError="this.onerror=null;this.src='{{ url_for('static', filename='img/no_cover.png') }}';" alt="Cover for {{ bToEdit.title }}" data-toggle="tooltip" data-placement="top" title="{{ bToEdit.title }}"/>
                    </div>
                </div><!-- END text field -->
                <br />


                

                {{ textareaForm('description', bToEdit.description, 'editBook') }}
                {{ sub_canButtonGroup('Update', url_for('homePage'), 'Abort') }}

            </form>
        </div>
    </div>
{% endblock %}
