{% extends 'main.html' %}
{% block title %}Home{% endblock %}

{# Need to add if statement once login is added #}
{% block extraNavButton %}
<a href='{{ url_for('createCollections') }}' class="btn btn-default navbar-btn">
    Create
    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
</a>
{% endblock %}

{% block content %}

    {% include 'getFlashed.html' %}
    <div class="row">
        <div class='col-sm-8 col-sm-offset-2'>
            <div class='jumbotron text-center'>
                <p>
                    <strong>The Library</strong> is a place to currate collections of your
                    favorite books and share them with others.
                </p>

            </div>
        </div>
    </div>

    <div class="row">
        <div class='col-sm-10 col-sm-offset-1'>

            {% for collection in collections %}
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href='{{ url_for('showBooksInCollection', collectionID=collection.id) }}'>
                                {{ collection.name }}
                            </a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>{{ collection.description }}</p>
                        {% for book in books %}
                            {% if book.collectionID == collection.id %}
                                <img src='{{ book.coverImage }}' height='80em'>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="panel-footer text-right">
                        <a href='{{ url_for('showBooksInCollection', collectionID=collection.id) }}'>
                            View
                        </a>
                         -

                        {# 2DO - Only show if logged in #}
                        <a href='{{ url_for('editCollections', collectionID=collection.id) }}'>
                            Edit
                        </a>
                         -
                        <a href='{{ url_for('deleteCollections', collectionID=collection.id) }}'>
                            Delete
                        </a>
                    </div>

                </div>
                <br />
            </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block JSON %}
<div class='row'>
    <div class='col-sm-12 text-right'>
        <strong>
            JSON
            <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
            :
        </strong>
        <a href='{{ url_for('collectionsJSON') }}'>
            Collections
        </a>
         or
        <a href='{{ url_for('booksJSON') }}'>
            Books
        </a>
    </div>
</div>
<br />
{% endblock %}
